@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fadeIn {
    animation: fadeIn 1s ease forwards;
}
html, body {
    margin: 0;            /* Remove default margin */
    padding: 0;           /* Remove default padding */
    overflow-x:hidden;     /* Prevent scrollbars */      /* Full height */
}
